body{
    margin: 0;
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header{
    background-color: rgb(68, 68, 68);
    justify-content: center;
    padding: 10px 300px;
    justify-content: space-around;
}
.header a{
    color: white;
    text-decoration: none;
}
.top__banner{
    justify-content: center;
    background-color: rgb(228, 228, 228);
}
.top__banner a{
    text-decoration: none;
}
.top__banner a:hover{
    text-decoration: underline;
}